{% extends is_granted('ROLE_ADMIN')? "poco-layout.html.twig" : "agent-layout.html.twig" %}

{% block title %}New Event
{% endblock %}
{%block breadcrumb%}
 <li class="breadcrumb-item">
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{path('app_admin')}}">Home</a>
    {% else %}
      <a href="{{path('agent_dashboard_index')}}">Home</a>
    {% endif %}
  </li>
<li class="breadcrumb-item ">
	<a href="{{ path('app_events_list') }}">Event list</a>
</li>
<li class="breadcrumb-item ">
	Add new event</li>

{%endblock%}
{% block body %}
	<div class="row justify-content-center">
		<div class="col-6">
			<h2 class="text-center">Create new event</h2>

			{{ include('event/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
