{% extends 'poco-layout.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{%block breadcrumb%}
 <li class="breadcrumb-item">Home</li>
{%endblock%}
{% block body %}


   

<h1>Welcome admin!!!</h1>
{% endblock %}
