<form action="{{ path('app_company_index') }}">
  <div class="form-row">
    <div class="col-md-2">
      <input type="text" class="form-control" name="search_term" placeholder="Search">
    </div>
     <div class="form-group col-md-3">
      <select name="search_field" id="inputState" class="form-control">
        <option selected value="">Choose Client Field</option>
          <option value="u.firstName  LIKE :field">Client First Name</option>
          <option value="u.lastName LIKE :field">Client Last Name</option>
          <option value="c.name LIKE :field">Company Name</option>
      </select>
    </div>
      <div class="col-md-2">
      <select name="county" id="county" class="form-control">
        <option selected value="">Select County</option>
           {%for county in counties%}
            <option value="{{county.name}}"> {{county.name}}</option>
           {%endfor%}
      </select>
     
      </div>
        <div class="col-md-2">
      <input type="text" class="form-control" id="city" name="city" placeholder="City">
      <div class="result_box"  style="position:absolute;z-index:3;width:auto;background:white;">
    <ul id="cities-list" style="">
   
    </ul>
    </div>
      </div>
        <div class="col-md-2">
       <input type="text" class="form-control" name="street" placeholder="Street">
       </div>
    </div>
      <button type="submit" class="btn mt-2 btn-outline-primary">Search</button>&nbsp;
      <a type="button" class="btn mt-2 btn-outline-secondary" href="{{path('app_company_index')}}">Reset</a>
      <input type="hidden" name="isSearch" value="true"/>
</form>
<hr/>